.sales-tabs {
  margin: 10px auto 0 auto; 
  margin-bottom: 10px;
  padding: 5px 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.sales-tabs-dark {
  border: 2px solid #4a4a4a;
  box-shadow: 3px 3px 0px #4a4a4a;
}

.sales-tabs-light {
  border: 2px solid #ccc;
  box-shadow:3px 3px 0px #ccc;
}

.sales-tabs:has(.sales-tabs-button:active) {
  transform:  translate(3px, 3px);
  box-shadow: none;
}