.signin-container-light {
   /* box-shadow: rgba(9, 11, 17, 0.05) 0px 5px 15px 0px, rgba(19, 23, 32, 0.05) 0px 15px 35px -5px; */
   width: 100vw;
   height: 100vh;
   background-image: radial-gradient(ellipse at 50% 50%, hsl(210, 100%, 97%), hsl(0, 0%, 100%));
   display: flex;
   justify-content: center;
   align-items: center;
}

.signin-container-dark {
   /* box-shadow: rgba(9, 11, 17, 0.05) 0px 5px 15px 0px, rgba(19, 23, 32, 0.05) 0px 15px 35px -5px; */
   width: 100vw;
   height: 100vh;
   background-image: radial-gradient(at 50% 50%, hsla(210, 100%, 16%, 0.5), hsl(220, 30%, 5%));
   display: flex;
   justify-content: center;
   align-items: center;
}