

@font-face {
  font-family: Nunito;
  src: url('@/assets/fonts/Nunito-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Nunito-Black;
  src: url('@/assets/fonts/Nunito-Black.woff2') format('woff2');
}

@font-face {
  font-family: Nunito-Bold;
  src: url('@/assets/fonts/Nunito-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Nunito-BlackItalic;
  src: url('@/assets/fonts/Nunito-BlackItalic.woff2') format('woff2');
}

@font-face {
  font-family: Nunito-BoldItalic;
  src: url('@/assets/fonts/Nunito-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: Nunito-Italic;
  src: url('@/assets/fonts/Nunito-Italic.woff2') format('woff2');
}

:root {
  font-family: Nunito;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Nunito-black;
  font-weight: 700;
}

h2 {
  font-family: Nunito-Bold;
  font-weight: 600;
}

h3 {
  font-family: Nunito-Bold;
  font-weight: 500;
}
